Getting and Knowing Your Data

> **Indented block**

Step 1. Import the necessary libraries

In [1]:
# Import Libraries
import pandas as pd

Step 2. Import the dataset.**bold text**

Step 3. Assign it to a variable called chipo.**bold text**

In [2]:
# Load dataset
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

chipo = pd.read_csv(url, sep="\t")

**Step 4. Set the 'origin' colum as the index of the dataframe**

In [3]:
# See the first 10 entries
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

Step 5. What is the number of observations in the dataset?**bold text**

In [4]:
# Number of observations
chipo.shape[0]

4622

In [5]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

Step 6. What is the number of columns in the dataset?**bold text**

In [6]:
chipo.shape[1]

5

Step 7. Print the name of all the **columns**

In [7]:
# Print the name of all columns
print(chipo.columns.to_list())

['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']

Step 8. How is the dataset indexed?**bold text**

In [8]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

Step 9. Which was the most-ordered item?**bold text**

In [9]:
# Most ordered item
item_quantity_sold = chipo.groupby('item_name')['quantity'].sum()

# Find the item with the highest total quantity ordered
most_ordered_item = item_quantity_sold.idxmax()
most_ordered_item

'Chicken Bowl'

Step 10. For the most-ordered item, how many items were ordered?**bold text**

In [10]:
# For the most-ordered item, how many items were ordered?
max_items_ordered = item_quantity_sold.max()
max_items_ordered

761

Step 11. What was the most ordered item in the choice_description column?**bold text**

In [11]:
# Most ordered item in "choice_description"
items_in_choice_desc = chipo.groupby("choice_description")["quantity"].sum().sort_values(ascending=False)
items_in_choice_desc.head(1)

choice_description
[Diet Coke]    159
Name: quantity, dtype: int64

Step 12. How many items were orderd in total?**bold text**

In [12]:
# Number of items ordered
total_items_ordered = chipo.quantity.sum()
total_items_ordered

4972

Step 13. Turn the item price into a float
Step 13.a. Check the item price **type**

In [13]:
# Check item price
chipo["item_price"].dtype # Item price is an object

dtype('O')

Step 13.b. Create a lambda function and change the type of item price

In [14]:
# Create a lambda function to check the type of item price
chipo["item_price"] = chipo["item_price"].apply(lambda x: float (x.replace("$","")))

Step 13.c. Check the item price type

In [15]:
# Check the item price type again
chipo["item_price"].dtype

dtype('float64')

Step 14. How much was the revenue for the period in the dataset?**bold text**

In [16]:
# Revennue for the period
revenue = (chipo["quantity"] * chipo["item_price"]).sum()
print("The revenue for the period in the dataset is: $",revenue)

The revenue for the period in the dataset is: $ 39237.02

Step 15. How many orders were made in the period?**bold text**

In [17]:
# Number of orders made
chipo["order_id"].nunique()

1834

Step 16. What is the average revenue amount per order?**bold text**

In [18]:
# Average revenue per order
chipo['revenue'] = chipo['quantity'] * chipo['item_price']
order_revenue = chipo.groupby('order_id')["revenue"].sum()
average_revenue_per_order = order_revenue.mean()
print("Average revenue amount per order:", average_revenue_per_order)

Average revenue amount per order: 21.39423118865867

Step 17. How many different items are sold?**bold text**

In [19]:
# Different items sold
chipo["item_name"].nunique()

50